<style>
    .alert {
        padding: 15px;
        background-color: #a6f454; /* Red background color */
        color: black; /* White text color */
        margin-bottom: 15px;
        transition: opacity 2s ease-out;
    }
    
    .alert.error {
        background-color: #ffcccb; /* Light red background color for error messages */
        color: #8b0000; /* Dark red text color for error messages */
    }
    
    .disabled-text {
        background-color: #f0f0f0; /* Background color */
        color: #555; /* Text color */
        border: 1px solid #ddd; /* Border */
        padding: 8px; /* Padding */
        border-radius: 4px; /* Border radius */
    }
</style>

<script>
    // Function to hide messages smoothly after 5 seconds
    // alert('reading from message')
    setTimeout(function() {
        var messages = document.querySelectorAll('.alert');
        messages.forEach(function(message) {
            message.style.opacity = '1';
            setTimeout(function() {
                message.style.display = 'none';
            }, 1000); // Delay hiding the message after opacity transition
        });
    }, 5000); // 5000 milliseconds = 5 seconds
</script>


{% extends "base.html" %}
{% load static %}
{% block title %}Blog-Post{% endblock title %}
{% block body %}

<body class="blog-post">
    <!-- Page Title Starts -->
<section class="title-section text-left text-sm-center revealator-slideup revealator-once revealator-delay1">
    <h1>my <span>blog</span></h1>
    <span class="title-bg">posts</span>
</section>
<!-- Page Title Ends -->

<!-- Messages -->
<div style="width: 23%; margin: auto;">
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %}error{% endif %}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

<!-- Main Content Starts -->
<section class="main-content revealator-slideup revealator-once revealator-delay1">
    <div class="container" >
        <div class="row">
            <!-- Article Starts -->
            <article class="col-12">
                <!-- Meta Starts -->
                <div class="meta open-sans-font">
                    {% if obj.writer_name %}
                        <span><i class="fa fa-user"></i> {{obj.writer_name}} </span>
                    {% else %}
                        <span><i class="fa fa-user"></i> {{obj.user.first_name}} </span>
                    {% endif %}
                    <span class="date"><i class="fa fa-calendar"></i> {{obj.create_date}} </span>
                    <span><i class="fa fa-tags"></i> {{obj.blog_type}} </span>
                </div>    
                <!-- Meta Ends -->
                <span class="date"><i class="fa fa-clock">Last update {{obj.modify_date|timesince}} ago</i></span>
                <!-- Article Content Starts -->
                <h1 class="text-uppercase text-capitalize"> {{obj.title}} </h1>
                {% if obj.image %}
                    <img src="{{obj.image.url}}" class="img-fluid" alt="Blog image"/>
                {% else %}
                    <strong class="text-danger">No image available</strong>
                {% endif %}
                <div class="blog-excerpt open-sans-font pb-5">
                    <p> {{obj.description}} </p>
                </div>
                <!-- Article Content Ends -->
                <div style="margin-bottom: 20px;">

                    <a href="{% url "update_blog" obj.id %}" id="update" class="btn btn-primary ml-2">Update Blog</a>
                    <a href="{% url "delete_blog" obj.id %}" id="delete" class="btn btn-danger ml-2 ">Delete</a>
                    <a href="{% url "blog" %}" id="delete" class="btn btn-primary ml-2 ">Back</a>

                </div>
                <br>
                
            </article>
            <!-- Article Ends -->
           
        </div>

    </div>

</section>
</body>

{% endblock body %}